div.cambiare {
	font-family: "PT Sans Narrow";
	font-size: 26px;
	width: 100vw;
	height: 100vh;
	display: grid;
	align-items: center;
	justify-content: center;
	background: #000;
}
div.cambiare > div.cambiare-container {
	overflow: hidden;
}


div.cambiare-canvas {
	--background-color: #222;
	--foreground-color: #fff;
	--accent-color: #ccc;
}
div.cambiare-canvas.cambiare-mode-xg, div.cambiare-canvas.cambiare-mode-ns5r, div.cambiare-canvas.cambiare-mode-x5d, div.cambiare-canvas.cambiare-mode-05rw, div.cambiare-canvas.cambiare-mode-k11, div.cambiare-canvas.cambiare-mode-s90es, div.cambiare-canvas.cambiare-mode-motif {
	--accent-color: #9efaa0;
}
div.cambiare-canvas.cambiare-mode-gm, div.cambiare-canvas.cambiare-mode-g2, div.cambiare-canvas.cambiare-mode-krs {
	--accent-color: #a1f3ff;
}
div.cambiare-canvas.cambiare-mode-gs, div.cambiare-canvas.cambiare-mode-mt32, div.cambiare-canvas.cambiare-mode-sd {
	--accent-color: #ffe1a5;
}
div.cambiare-canvas.cambiare-mode-sg {
	--accent-color: #fdd;
}

div.cambiare div.cambiare-canvas {
	background: var(--background-color);
	color: var(--foreground-color);
	width: 1920px;
	height: 1080px;
	transform-origin: 0 0;
}
div.cambiare-canvas > div {
	display: inline-block;
	position: absolute;
	/*background: #fff5;*/
	width: 1896px;
	left: 12px;
}
div.cambiare-canvas.debug > div {
	outline: 1px #0f07 solid;
}
div.cambiare-canvas span {
	display: inline-block;
}
div.cambiare-canvas span.field, div.cambiare-canvas div.boundary {
	position: absolute;
	cursor: default;
}
div.cambiare-canvas.debug span.field, div.cambiare-canvas.debug div.boundary {
	outline: 1px #fff7 solid;
}
div.cambiare-canvas span.field-label {
	color: var(--accent-color);
}
div.cambiare-canvas span.field-key {
	color: var(--accent-color);
	font-weight: bold;
}

div.cambiare-canvas > div.sect-info {
	top: 0px;
	height: 67px;
}
div.cambiare-canvas > div.sect-mark {
	top: 69px;
	height: 33px;
}
div.cambiare-canvas > div.sect-part {
	top: 103px;
	height: 832px;
}
div.cambiare-canvas > div.sect-meta {
	width: 934px;
	top: 937px;
	height: 137px;
	overflow: hidden;
}

div.cambiare-canvas > div.sect-mark > div {
	width: 936px;
	height: 33px;
}
div.cambiare-canvas > div.sect-mark span.mark-send-title {
	font-size: 14px;
}
div.cambiare-canvas > div.sect-mark span.mark-send-param {
	font-size: 12px;
}
div.cambiare-canvas.cambiare-port1 div.sect-mark-right, div.cambiare-canvas.cambiare-compact div.sect-mark-right {
	display: none;
}

div.cambiare-canvas > div.sect-meta > div.meta-line {
	/*position: relative;*/
	margin: 0 0 3px;
	height: 25px;
	/*overflow: hidden;*/
	line-height: 25px;
}
div.cambiare-canvas > div.sect-meta > div.meta-line > span {
	font-size: 20px;
}
div.cambiare-canvas > div.sect-meta span.meta-type {
	width: 88px;
	text-align: right;
}
div.cambiare-canvas > div.sect-meta span.meta-data {
	/*width: 840px;*/
	left: 94px;
	white-space: pre;
}
