@font-face {
	font-family: "Noto Sans Mono Web";
	src: url("../font/NotoSansMono-VF.woff2") format("woff2");
}
@font-face {
	font-family: "Arial Web";
	font-weight: 400;
	src: url("../font/arial.woff2") format("woff2");
}
@font-face {
	font-family: "Arial Web";
	font-weight: 700;
	src: url("../font/arialbd.woff2") format("woff2");
}
@font-face {
	font-family: "PT Sans Narrow";
	font-display: swap;
	font-weight: 400;
	src: local("PT Sans Narrow"), url("../font/PTSansNarrow.woff2") format("woff2");
}
@font-face {
	font-family: "PT Sans Narrow";
	font-display: swap;
	font-weight: 700;
	src: url("../font/PTSansNarrow_b.woff2") format("woff2");
}
@font-face {
	font-family: "Public Sans";
	font-display: swap;
	src: url("../font/PublicSans.woff2") format("woff2");
}
@font-face {
	font-family: "Nunito Sans";
	font-display: swap;
	src: local("Numito Sans"), url("../font/NunitoSans.woff2") format("woff2");
}
@font-face {
	font-family: "Jost";
	font-display: swap;
	src: local("Jost"), url("../font/Jost.woff2") format("woff2");
}
